body{background-color:#f7f7f7;}
header{
	height:70px;
	margin:25px 0;
	width:100%;
	background-color:#FFF;
	display:table;
}
header h1{ 
	display:table-cell;
	vertical-align:middle;
	position:relative;
	left:10%;
	font-size: 60px;
	font-family: lato-light; 
	float:left;
	top:5px;
}
header h1 b{ 
	font-family: lato-bold; 
	color:#33cc99;
}
.menu{
	display:table-cell;
	vertical-align:middle;
	text-align:right;
	position:relative;
	right:10%;
	width:380px;
}
.menu a{
	text-decoration:none;
	color:#333;
	font-family:lato-bold;
	padding:5px 10px;
}
.menu a:hover{
	text-decoration:none;
	color:#000;
	font-family:lato-bold;
	padding:5px 10px;
}